.header {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    background-color: #FBA92C;
    background: linear-gradient(135deg, #FBA92C, #141414);
    margin-bottom: 100px;
}

.title {
    width: 46%;
    padding: 40px;
}

.title h1 {
    font: 48.83px Rubik Glitch;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px 10px #141414;
}
.title p {
    font-size: 20px;
    line-height: 1.4em;
}

.image {
    width: 34%;
    padding: 40px;
}
.image img {
    max-width: 300px;
}

