
.blogSection {
    color: var(--text-color);
  }
  
  
  /* ------Blog post style and animation------*/
.searchBarContainer {
  margin: 10px;
  display: flex;
  justify-content: right;
}

.searchBar {
  padding: 6px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  gap: 40px;
}