.portfolioSlider {
    margin: 80 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
    grid-template-rows: minmax(400px, 500px);
    /*grid-template: repeat(1, minmax(120px, 500px))/repeat(6, minmax(120px, 500px));*/
    grid-template-areas: 'buttonPrevius previousProject selectedProject nextProject buttonNext';
    justify-items: stretch;
    align-items: center;
    gap: 20px;
}

.portfolioSlider div {
    border-radius: 16px;
}

.portfolioSlider .nextProject {
    grid-area: "notSelectedProject";
    color: black;
}
.portfolioSlider .selectedProject {
    grid-area: "nextProject";
    padding: 20px;
    background-color: antiquewhite;
    color: black;
    height: 100%;
}
.portfolioSlider .previousProject {
    grid-area: "previousProject";
    padding: 20px;
    color: black;
}

.project_image {
    max-width: 100%;
    border-radius: 10px;
}
.portfolioSlider .buttonPrevious {
    grid-area: "puttonPrevious";
    background-color: antiquewhite;
    color: black;
}
.portfolioSlider .buttonNext {
    grid-area: "buttonNext";
    background-color: antiquewhite;
    color: black;
}