.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    background: #141414;
}
.stickyMenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    background: rgb(20, 20, 20, .96);
}

.textLogo{
    display: flex;
    align-items: center;
}

.links {
    display: flex;
}
.links li {
    list-style: none;
    padding: 10px;
}
.link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.link:hover {
    color: #FBA92C;
    text-decoration: none;
    font-style: italic;
}
.activeLink {
    color: #FBA92C;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}