:root {
  --backgroud-color: #303041;
  --elements-color: #3D3A50;
  --decorations-color: #0EA2F6;
  --text-color: #F4FCFE;
  --links-color: #AD8B4E;
  background-color: var(--backgroud-color);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* -------------------General Classes------------------- */

.white-shadow {
  box-shadow: 0 0 12px var(--text-color);
}

/* -------------------HEADER------------------- */

header {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 60%;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.header-content .header-presentation {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  text-align: left;
  align-items: center;
}

.header-content .header-presentation * {
  margin: 20px;
}
.header-content .header-presentation p {
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  text-shadow: 0 0 5px #000008;
}

.header-content .header-presentation img {
  border-radius: 50%;
  box-shadow: 0px 0 22px rgba(255, 255, 255, .6);
}

/*------Header Menu------*/

.header-content nav {
  margin-top: 20px;
  padding: 16px;
  border-radius: 16px;
  background-color: #28282d;
  box-shadow: 0 0 12px var(--text-color);
}
.header-content nav a {
  padding: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.header-content nav a:hover {
  font-style: oblique;
}

/*------NewsLetter Button------*/

.newsletter-button {
  margin: 40px 0;
  --glow-color: rgba(246, 252, 254, 0.74);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1.2em 3.6em;
  color: var(--glow-color);
  font-size: 16px;
  font-weight: 900;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}
.newsletter-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  cursor: pointer;
}
 
.newsletter-button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
}


/* -------------------MAIN------------------- */

main {
  display: flex;
  justify-content: center;
}

.blog-posts {
  width: 60%;
  max-width: 600px;
  color: var(--text-color);
}


/* ------Blog post style and animation------*/
.blog-post {
  padding: 28px;
  margin: 60px 0;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: var(--text-color);
  z-index: 1;
}
 
.blog-post::after,
.blog-post::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}
 
.blog-post::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}
 
.blog-post::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}
 
.blog-post:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
 
.blog-post:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
 
.blog-post:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.blog-date {
  text-align: right;
  font-size: 12px;
  font-style: oblique;
  color: var(--decorations-color);
}

.post-button {
  margin-top: 20px;
  width: 9em;
  height: 3em;
  border-radius: 1em;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid var(--text-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
 
.post-button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #3D3A50 0%, rgb(100, 61, 136) 100%);;
  transition: .5s ease;
  display: block;
  z-index: -1;
}
 
.post-button:hover::before {
  color: var(--text-color);
  width: 9em;
}

.post-button:hover {
  color: var(--text-color);
}