:root {
  --backgroud-color: #303041;
  --elements-color: #3D3A50;
  --decorations-color: #0EA2F6;
  --text-color: #F4FCFE;
  --links-color: #AD8B4E;
  background-color: var(--backgroud-color);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
